@use "@/styles/variables" as *;

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: $background;
  height: 100vh;
  color: $text;

  .card {
    background-color: $additional-0;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-weight: 500;
    }
  }
}
